<h1>about page</h1>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, facilis molestiae! Ea, deserunt fuga voluptatum quam vero molestiae nemo corporis error quisquam cupiditate, aperiam porro quis optio asperiores saepe ab.
</p>


<ul class="nav nav-tabs">
 
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="./team">Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/about/history">History</a>
    </li> 
  </ul>


  <hr>
<router-outlet></router-outlet>