<div class="card">
    <div class="card-body">
        
        <div class="d-flex justify-content-between">
            <h3>Add client</h3>
            
            <a routerLink="/clients" class="btn btn-sm btn-primary">Retour</a>
        </div>



        <div class="mt-3">
            
            <form [formGroup]="formData" (ngSubmit)="saveDATA()" >
                <div class="form-group mb-3">
                    <label for="">Name</label>
                    <input type="text" formControlName="name" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="">Phone</label>
                    <input type="tel" formControlName="phone" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="">Email</label>
                    <input type="email" formControlName="email" class="form-control">
                </div>
                 
                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-success" [disabled]="!  formData.valid" >Save</button>
                </div>


                <div class="alert alert-success" *ngIf=" successMessage != '' " >
                    {{successMessage}}
                </div>
            </form>

        </div>
    </div>
</div>